.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  width: 1080px;
  padding-bottom: 10px;
  border-bottom: solid 2px #efefef;
}
.HeaderLeft,
.HeaderNav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.HeaderNav {
  margin-left: 50px;
}
.HeaderNav li {
  list-style-type: none;
  margin: 0 20px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
}
.HeaderNav li a:hover {
  color: blue;
}
.HeaderNav li a:focus {
  color: blue;
  text-decoration: underline;
}
.HeaderNav li a {
  color: black;
}

.HeaderRight img:nth-child(1) {
  margin-right: 30px;
}
.burger {
  display: none;
}
@media (max-width: 768px) {
  .HeaderLeft,
  .HeaderRight {
    display: none;
  }
  .headerContainer {
    width: 100vw;
  }
  /* .burger {
    display: initial;
  }
  .bm-burger-bars {
    background: #373a47;
  } */
}
