.container {
  width: 640px;
  height: 500px;
  border: solid 10px black;
  margin-right: 20px;
}

.textContainer,
.baybayinContainer {
  width: 410px;
  height: 105px;
  background: #ffffff;
  border: 2px solid #adc5ff;
  border-radius: 2px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.productContainer {
  max-width: 1080px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}

.baybayinContainer {
  font-family: "Noto Sans Tagalog", sans-serif;
}
.RightContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.control {
  width: 410px;
  height: 185px;
  background: #adc5ff;
  border: 2px solid #adc5ff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 20px;
}
.controlInside {
  width: 100%;
  height: 185px;
  display: flex;
  background: #adc5ff;
  border: 1px solid #0024ba;
  border-radius: 2px;
  justify-content: center;
  align-items: self-start;
}
.controlText {
  /* Control Panel */
  position: absolute;
  background-color: #adc5ff;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0024ba;
  top: 145px;
}
.controlInside {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.selectModel {
  margin-bottom: 5px;
}
.selectModel,
.selectVoice {
  width: 221px;
  border: solid 2px #0024ba;
  border-radius: 8px;
  height: 25px;
}
.voiceContainer span {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  text-decoration-line: underline;
  margin-left: 10px;
  color: #2c2ac8;
  cursor: pointer;
}
.voiceContainer span:active {
  color: #52d6de;
}
.voiceContainer {
  display: flex;
  height: auto;
  align-items: end;
  margin-bottom: 20px;
}

.startBtn {
  background: #52d6de;
  border: 1px solid #292929;
  border-radius: 5px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #292929;
  width: 163px;
  height: 48px;
  cursor: pointer;
}
.startBtn:active {
  background: #78ced3;
}
.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.audio {
  display: none;
}

@media (max-width: 1000px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .container {
    width: 450px;
    height: 300px;
    border: solid 5px black;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .controlText {
    top: 424px;
  }
}
.marginBtn {
  margin-left: 5px;
}
@media (max-width: 500px) {
  .container {
    width: 305px;
    height: 160px;
    border: solid 2px black;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .controlText {
    top: 264px;
    background-color: transparent;
    font-weight: bold;
  }
  .RightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .control {
    width: 300px;
    height: 125px;
    font-size: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  .controlInside {
    width: 100%;
    height: 120px;
    display: flex;
  }
  .selectModel,
  .selectVoice {
    width: 121px;
    border-radius: 4px;
    height: 25px;
  }
  .startBtn {
    font-size: 15px;
    width: 143px;
    height: 28px;
  }
  .textContainer,
  .baybayinContainer {
    width: 300px;
    font-size: 15px;
  }
}
