.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  width: 800px;

  background-color: aliceblue;
}
.close {
  border-bottom: solid 1px rgb(221, 220, 220);
  padding: 5px;
  display: flex;
  align-items: center;
}
.instructionbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
}
.dummy {
  height: 300px;
  width: 80%;
  border: solid 1px black;
}
.btnContaier {
  border-top: solid 1px rgb(221, 220, 220);
  padding: 10px;
  display: flex;
  justify-content: end;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #04084a;
  font-weight: 500;
  padding-left: 10px;
  margin-top: 10px;
}
.heading span {
  font-weight: bold;
}

.btnContaier button .link {
  background: #403fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding: 8px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  border-color: transparent;
  color: #ffffff;
}
.btnContaier {
  padding: 20px;
}
