.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1080px;
}
.insideContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}
.bannerWidth {
  width: 474px;
  height: auto;
}
.leftContainer {
  width: 50%;
  /* background-color: #04038a; */
}
.header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 108.3%;
  letter-spacing: -0.01em;
  color: black;
}
.header span {
  color: #04038a;
}
.subText {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130.9%;
  /* or 37px */
  margin: 20px 0;
  color: #000000;
}

.button {
  background: #403fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding: 8px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  border-color: transparent;
  color: #ffffff;
}

.fsl {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .insideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .bannerWidth {
    width: 474px;
    height: auto;
  }
  .rightContainer {
    margin: 100px 0;
  }
  .leftContainer {
    width: 80%;
    /* background-color: #04038a; */
  }
  .fsl {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 560px) {
  .bannerWidth {
    width: 374px;
    height: auto;
  }
  .header {
    font-size: 45px;
  }
  .subText {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .bannerWidth {
    width: 284px;
    height: auto;
  }
  .header {
    font-size: 35px;
  }
  .subText {
    font-size: 18px;
  }
  .rightContainer {
    margin: 50px 0;
  }
}
