@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mobile-warning {
  display: none;
}
a {
  text-decoration: none;
}
.BodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(78, 146, 170, 0.5),
      rgba(60, 104, 121, 0.5)
    ),
    url("../assets/background.webp");
  background-size: cover;

  background-position: center;
  padding: 20px 100px;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .BodyWrapper {
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .BodyWrapper {
    display: none;
  }
  #mobile-warning {
    display: block !important; /* Make it visible */
    position: fixed; /* Optional: Fixes the message on the screen */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    width: 80%; /* Set width */
    padding: 20px; /* Add some padding */
    text-align: center; /* Center the text inside the div */
    background-color: #fff; /* Optional: Change background */
    color: #000; /* Optional: Change text color */
    border: 1px solid #000; /* Optional: Add border */
    z-index: 1000; /* Make sure it's on top */
  }
}
